/computerMetricCollector/log/*.log
/computerMetricCollector/log/*.log.*
/computerMetricCollector/config/__pycache__/*
/computerMetricCollector/metricsCollector/__pycache__/*
/computerMetricCollector/local_data/*.csv
/computerMetricCollector/log/MetricCollector.log
/computerMetricCollector/build/*
/computerMetricCollector/dist/*
/build/*
/ComputerMetricsCollector.spec
**/__pycache__