/computerMetricCollector/log/*.log
/computerMetricCollector/log/*.log.*
/computerMetricCollector/config/__pycache__/*
/computerMetricCollector/metricsCollector/__pycache__/*
/computerMetricCollector/log/MetricCollector.log
**/__pycache__
/build/*
/dist/*